# Queries

[About the GraphQL](../Home{{ extLinkMarkdown }}) > [Queries](./Home{{ extLinkMarkdown }})

Every GraphQL schema has a root type for both queries and mutations. The [query type](https://graphql.org/learn/queries/) defines GraphQL operations that retrieve data from the server.

{{range .}}
- [{{if .IsDeprecated}}<i><s>{{.Name}}</i></s>{{else}}{{.Name}}{{end}}](./{{.Name}}{{ extLinkMarkdown }}){{end}}
