# Objects

[About the GraphQL](../Home{{ extLinkMarkdown }}) > [Objects](./Home{{ extLinkMarkdown }})

[Objects](https://graphql.org/learn/schema/#object-types-and-fields) in GraphQL represent the resources you can access. An object can contain a list of fields, which are specifically typed.

{{range .}}
- [{{.Name}}](./{{.Name}}{{ extLinkMarkdown }}){{end}}
