# {{.Name}}

[About the GraphQL](../Home{{ extLinkMarkdown }}) > [Input Objects](./Home{{ extLinkMarkdown }}) > [{{.Name}}](./Home{{ extLinkMarkdown }})

{{if ne .Description ""}}
{{.Description}}{{end}}

## Input Fields

{{range .InputFields}}### {{.Name}} ([{{getTypeGraphql .Type}}]({{getTypeLinkMarkdown .Type}}))
{{if ne .Description ""}}
{{.Description}}
{{end}}
{{end}}
