# Scalars

[About the GraphQL](../Home{{ extLinkMarkdown }}) > [Scalars](./Home{{ extLinkMarkdown }})

[Scalars](https://graphql.org/learn/schema/#scalar-types) are primitive values: Int, Float, String, Boolean, or ID.

{{range .}}
- [{{.Name}}](./{{.Name}}{{ extLinkMarkdown }}){{end}}
