# Mutations

[About the GraphQL](../Home{{ extLinkMarkdown }}) > [Mutations](./Home{{ extLinkMarkdown }})

Every GraphQL schema has a root type for both queries and mutations. The [mutation type](https://graphql.org/learn/queries/#mutations) defines GraphQL operations that change data on the server. It is analogous to performing HTTP verbs such as POST, PATCH, and DELETE.

{{range .}}
- [{{.Name}}](./{{.Name}}{{ extLinkMarkdown }}){{end}}
